@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kurale&display=swap');



$fs-mono :'Space Mono', monospace;
$fs-dancing-script :'Dancing Script', cursive;
$fs-kurale :'Kurale', serif;


$fw-reg:400;
$fw-med:500;
$fw-bold:700;
$fw-semi-bold:700;