// necesary imports
@import './variables';


//needed mixins
@mixin smallFontSize(){
    font-size: clamp(0.8125rem , 0.82vw , 0.825rem);
}

@mixin welcomeStyle(){
    font-size: clamp(2.5rem , 2.6vw , 2.7rem);
    line-height: 2.5rem;
    font-family: $fs-kurale;
    letter-spacing: 10px;
}

@mixin mainContainer(){
    width: 85%;
    height: 25rem;
    border-radius: 1rem;
    background-color: hsla(260, 4%, 85%, 0.1);
    margin: 0 auto;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);  
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
    // line-height: 5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}



@mixin mainBibleVersetxt(){
    font-size: clamp(1.1rem , 1.15vw , 1.2rem);
    font-family: $fs-kurale;
    font-weight: $fw-med;
    letter-spacing: 1px;
    
}

@mixin verse(){
    font-size: clamp(2rem , 2.15vw , 2.2rem);
    font-family: $fs-dancing-script;
    font-weight: $fw-reg;
    letter-spacing: 2px;
}



@mixin btnContainer(){
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0.75rem;
    background-color: hsla(260, 4%, 85%, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px); 

}


@mixin gobackbtn(){
    font-family: $fs-kurale;
    @include smallFontSize();
    font-weight: $fw-med;
    letter-spacing: 1px;
    color: black;

    @media (min-width:1100px) {
        font-size: clamp(1.05rem, 1.1vw , 1.15rem);
        
    }
}

@mixin versebtn(){
    font-family: $fs-kurale;
    @include smallFontSize();
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.2rem;
    text-align: center;
    font-weight: $fw-semi-bold;
    width:7rem;
    background-color: rgba(34, 9, 122, 0.3);
    letter-spacing: 1px;

    @media (min-width:1100px) {
        font-size: clamp(1.05rem, 1.1vw , 1.15rem);
        
    }

}





//css mobile workflow first

body{
   
    background-size: cover;
    // backdrop-filter: blur(40px);
    // -webkit-backdrop-filter: blur(40px);  
}



.welcome-message{
    @include welcomeStyle();
    // background-color: red;
    margin-bottom: 2rem;
}

.main-quote-container{
    @include mainContainer();
}

.main-random-quote-container{
    @include mainContainer();
    display: flex;
    flex-direction: column;
    justify-content: center;


}

button.next-quote{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: 	rgba(246, 248, 255,0.4);
    margin: 0 auto;

    &:hover, :active{
        transition: background-color 0.5s;
        background-color:rgba(246, 248, 255,0.8);
    }


}







#text,#random-text{
    @include mainBibleVersetxt();
    opacity: 0.9;
}

#chapter,#random-chapter{
    @include verse();
    opacity: 0.85;
}


.btn-container{
    @include btnContainer();

}

#nextstepbtn{
    @include versebtn();
}


@media (max-width:650px) {
    body{
        width: 100%;
        height: 100vh;
    }
    
}

@media (min-width:1440px) {
    body{
        width: 100%;
        height: 100vh;
    }
    
}


.animation-settings{
    animation:slideInFromRight 0.5s ease-in-out ;

}


@-webkit-keyframes slideInFromRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}


@keyframes slideInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
                transform: translateX(200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
  